/* *-----------------------------Mobile-devices------------------------------------- */
@media (300px <= width <= 480px) {
    .btn {
        width: 18vw;
        height: 8vh;
    }

    .container h1 {
        font-size: 1.5rem;
    }
}

/* *----------------------------Tablets--------------------------------------------- */
@media (481px <= width <= 768px) {
    .btn {
        width: 15vw;
        height: 11vh;
    }

    .container h1 {
        font-size: 2.3rem;
    }
}

/* *---------------------------Laptops---------------------------------------------- */
@media (769px <= width <= 1024px) {
    .btn {
        height: 8vh;
        width: 7vw;
    }
}

/* *---------------------------Desktops--------------------------------------------- */
@media (1025px <= width <= 1200px) {
    .btn {
        width: 5.2vw;
        height: 8vh;
    }
}

/* *---------------------------Large Screens--------------------------------------- */
@media (1201px <= width <= 3000px) {
    .btn {
        height: 11vh;
    }
}